nav
{	box-shadow: none;
	position: fixed;
	background-color: transparent;
	padding: 10px;
	z-index: 1;
	height: 80px;
}
nav li a
{	font-family: 'Dosis',sans-serif;
	font-size: 12px;
	text-transform: uppercase;
}
.box
{	margin-top: 20px;
	height: 400px;
}
nav li a:hover
{	color: #9cff57;
	background-color: transparent;
}
.color
{	background: #38006b;
	box-shadow: 0 4px 18px 0px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
#Titulo
{	position: absolute;
	font-family: 'Merienda', cursive;
	color:white;
	font-size:9vmin;
	margin-top: -40%;
	margin-left: 20%;
}
#Frase
{	position: absolute;
	font-family: 'Raleway',  sans-serif;
	color:white;
	font-size:6vmin;
	margin-top: -30%;
	margin-left: 20%;
	margin-right: 15%;
	text-align: center;
}
#slider
{	margin: -16px 0px 0px -48px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
}
.sliderhow
{	width: 100%;
	position: relative;
}
.sliderhead li img
{	width: 100%;
}
.leftArrow,.rightArrow
{	position: absolute;
	margin-top: -30%;
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
}
.leftArrow span i
{	font-size: 9vmin;
}
.rightArrow span i
{	font-size: 9vmin;
}
.leftArrow
{	left: 10px;
}
.rightArrow
{	right: 10px;
}
#links li a
{	color: black;
}
#links li a:hover
{	color: #38006b;
}
img
{	width: 100%;
	border-radius: 5px;
}
.contenedor
{	width: 100%;
	height: 840px;
	background: #fff;
	overflow: auto;
	border: 5px;
	border-color: grey;
}
.contenedor::-webkit-scrollbar
{	width: 7px;
}
.contenedor::-webkit-scrollbar-thumb
{	background: #1faa00;
	border-radius: 5px;
}
a:hover
{	cursor: pointer;
}
